/*green: color: 197739*/
/*yellow: color: #EBEC2B;*/
/*pink: color: #904180;*/


a{
    color: #f9da00;
    font-size: 18px;
}


body{
    font-family: Optima;
    color: #585858;
}

footer{
    padding: 10px 20px;
    margin-right: -15px;
    text-align: left;
    background-color: #585858;
    color: white;
}

hr{
    border-color: #BFBFBF;
}

h1{
    color: black;
    font-weight: 200;
}

h4{
    font-weight: 700;
}

iframe{
    max-width: 100%;
}
 
 .black{
    color: black;
 }

 .red{
     color: red;
 }

 .green{
     color: #308a2a;
 }

.content{
    font-size: 1.3em;
    text-align: justify;
}

#aboutus .content{
    font-size: 1.8em;
}

.phone-number {
    font-size: 36px;
    margin-top: 10px;
}

.header {
    position: relative;
    width: 100%;
    padding: 150px 0 50px 0;
    min-height: 1px;
    text-align: center;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    border-bottom: 2px solid #308a2a;
}

.logo-words-container{
    margin: 0 auto;
}

.logo-words-container img{
    max-width: 90%;
}

.no-border{
    border: none;
}

.navbar{
    background-color: #308a2a;
    padding: 20px 40px;
}

.navbar-brand {
    height: inherit;
    padding: 0;
}


.nudge-down-20px{
    margin-top: 20px;
}

.nudge-down-50px{
    margin-top: 50px;
}

.nudge-down-100px{
    padding-top: 50px;
    margin-top: 50px;
}

.logo{
    height: 80px;
    margin: -10px;
}

.photo{
    max-width: 100%;
}

.section{
    padding: 100px 0;
}

.section-black{
    padding: 60px 10px;
    color: white;
    background-color: black;
    font-family: Joe, serif;
    font-size: 24px;
    letter-spacing: 2px;
}

@media (min-width: 1200px){
    .section-black{
        padding: 60px 100px;
    } 
}

.section-jewelry{
    padding: 25px 0;
    background-color: black;
}

.signature{
    font-size: 16px;
    margin-top: 40px;
}


.cta{
    background-color: #CF378F;
    border-radius: 10px;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: gray 0 3px 4px;
    font-size: 20px;
    margin: 50px 0;
}

.jewelry{
    max-width: 120px;
}

#jewelry-photo{
    margin-top: 70px;
}

#metro{
    margin-top: -23px;
}

#beaumont{
    margin-top: 30px;
}


.navbar-nav>li>a{
    padding-top: 20px;
    padding-bottom: 20px;
}

.hospitals img{
    max-width: 100%;
}






